@import url('https://fonts.googleapis.com/css2?family=Anta&display=swap');

body {
  margin: 0;
  font-family: Anta, -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif !important;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  overflow-x: hidden;
  background-color: black !important;
  user-select: none;
  -webkit-user-select: none;
}

@font-face {
  font-family: 'anta';
  src: url('../src/fonts/Anta-Regular.ttf') format('truetype');
}

@supports (scrollbar-width: thin) {
  html {
    scrollbar-width: none;
  }
}
@supports not (scrollbar-width: thin) {
  html {
    -ms-overflow-style: -ms-autohiding-scrollbar;
  }
}

html {
  background-color: #18181b;
}

@supports (scroll-behavior: smooth) {
  html {
    scroll-behavior: smooth;
  }
}
@supports not (scroll-behavior: smooth) {
  html {
    scroll-behavior: auto;
  }
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}